* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #2e2e2e;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  border-bottom: 0.5px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

    .nav > .nav-header {
      display: flex;
      align-items: center;
    }

.nav > .nav-header > .nav-title {
  display: inline-flex;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}
    .nav > .nav-header > .nav-icon {  
      border-radius: 50%;
      border: 0.5px solid gray;
      object-fit: cover;
      margin-right: -3px;
      width: "20px"; 
      height:"20px";
    }

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: middle;
  font-size: 18px;
  text-align: center;
  background-color: #333333;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 2px;
  border-radius: 8px;
  border: 0.5px solid white;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
  outline: none;
}

/*@media (max-width:600px) {*/
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 99%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
/*}*/
.line {
  width: 90%; height: 1px; margin: 0 auto; border: 1px solid gray; align-self: center; align-content: center;
}

.pro-ttle {
  display: inline-block;
  margin-top: 0.7em;
  font-size: 2.1em;
  margin-left: 10px;
}
.abt-para-pro {
  margin-top: 0.3em;
  margin-left: 30px;
  font-size: 1.5em;
}

  #cookie-consent {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 20px);
  max-width: 500px; /* Adjust max-width as needed */
}

#cookie-consent a {
  text-decoration: none;
  color: #333;
}

#cookie-consent button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196F3;
  color: #fff;
  cursor: pointer;
}
